body {
    padding: 10px;
}

/*img {
    max-width: 100%;
    display: block;
}*/

/* Images inside Grids */
.gridImages {
    object-fit: contain;
    aspect-ratio: 1.5 / 1;
}

#heartForm {
    display: inline;
    width: 50px;
}

.listingImages {
    display: block;
    height: auto;
    padding: 1em 3em;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
}


/*--- MEDIA QUERIES --*/

@media (max-width: 1200px) {
    /* Images inside Grids */
    .gridImages {
        aspect-ratio: 1 / 1;
    }

    .listingImages {
        width: 34%;
    }
        

}


@media (max-width: 992px) {
    .listingImages {
        width: 40%;
    }
       


}


@media (max-width: 768px) {
    .listingImages {
        width: 50%;
    }

    /* Images inside Grids */
    .gridImages {
        aspect-ratio: 2 / 1;
    }

}


@media (max-width: 576px) {
    /**/
    .listingImages {
        width: 65%;
    }
}